<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button>
            <ion-icon color="dark" style="height: 41px; width: 32px;" name="contact"></ion-icon>
        </ion-menu-button>
    </ion-buttons>
    <ion-title>Update size</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ion-margin-top" *ngFor="let size of titleService.sizes" (click)="selectSize(size.val)">
      <ion-label>{{size.val | titlecase}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="size.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
