<ion-header  no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
            <ion-icon style="font-size:40px" name="return-left" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="warning"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true"
(ionScroll)="logScrolling($event)">

<div *ngIf="titleService.finalData" class="hints-title">
  <div class="hints">
      <h3>Hints</h3>
      <b style="padding-right: 8px">{{titleService.finalData.city | titlecase}}<b *ngIf="titleService.finalData.state">,</b> {{titleService.finalData.state | titlecase}}</b>
  </div>
  <ion-badge color="success">{{titleService.finalData.season | titlecase}}</ion-badge>
  <ion-badge color="primary">{{titleService.finalData.weather | titlecase}}</ion-badge>
  <ion-badge *ngIf="!occasion" color="warning">{{titleService.finalData.occasion | titlecase}}</ion-badge>
  <ion-badge *ngIf="occasion" color="warning">{{occasion | titlecase}}</ion-badge>
</div>

<!-- All fashion style -->
  <div class="pins">
    <div class="pin" *ngFor="let hint of hints" (click)="fashionModal(hint._id)">
        <img class="animated fadeInRight delay-1s" [src]="hint.url">
    </div>
  </div>

  <!-- skeleton -->
  <div *ngIf="hints?.length == 0">
      <ion-list>
        <ion-item>
            <ion-skeleton-text animated style="width: 187px; height: 170px;border-radius: 10px" slot="start"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 187px; height: 210px;border-radius: 10px" slot="start"></ion-skeleton-text>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated style="width: 187px; height: 210px;border-radius: 10px" slot="start"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 187px; height: 190px;border-radius: 10px" slot="start"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="width: 127px; height: 170px;border-radius: 10px" slot="start"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 187px; height: 200px;border-radius: 10px" slot="start"></ion-skeleton-text>
        </ion-item>
      </ion-list>
  </div>
  
  <!-- genders actionsheet -->
 <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="light" (click)="presentOccasionActionSheet()">
        <ion-icon name="options"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- next page -->
  <ion-fab *ngIf="hideForward" vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="getMore()">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- move back -->
  <ion-fab *ngIf="movedForward" vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button (click)="moveBack()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
