.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 10px;
    height: 130px;
    max-height: 150px;
    background-color: lightblue;
}
.weather-icon {
display: inline-flex;
}
  /* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

ion-badge {
  position: relative;
  right: 10px;
  bottom: 8px;
  font-size: x-small;
}