img {
    height: 70%;
    max-height: 70%;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    z-index: -10;
    column-count: 1;
}

h6 {
    color: yellowgreen;
    border-bottom: 2px solid yellowgreen;
}

.categories {
    display: inline;
}

.rate {
   color: yellow
}

ion-card {
  width: 293px;
  height: 300px;
  max-width: 293px;
  max-height: 300px;
   ion-card-title {
     font-size: larger;
   }
}
  
  /* Modal Content */
  .modal-content {
    display: grid;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    overflow-y: scroll;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  
  /* notify Content */
  .notify-modal {
    text-align: center;
    position: absolute;
    top: 340px;
    left: 0;
    z-index: 1;
    background-color: lightcoral;
    border-radius: 12px;
    width: 50%;
    height: 21%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  ion-content {
    overflow: auto;
  }

  /* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}