<ion-content scrollY="{{modal}}">
  <div class="main-img">
    <!-- back button -->
    <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">
            <ion-icon style="font-size:40px" name="arrow-round-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <!-- image -->
    <img [src]="hint.url" >
  </div>
  <ion-grid>
    <ion-row>
      <ion-col style="padding: 12px;margin-right: 10px;">
          <div class="categories">
              <ion-badge color="success">{{titleService.finalData.season | titlecase}}</ion-badge>
              <ion-badge color="primary">{{titleService.finalData.weather | titlecase}}</ion-badge>
              <ion-badge *ngIf="!occasion" color="warning">{{titleService.finalData.occasion | titlecase}}</ion-badge>
          </div>
          <div class="rating ion-margin-top">
              <ion-icon [class.rate]="rate.isChecked" *ngFor="let rate of rated" name="{{rate.icon}}"></ion-icon>
              <b padding>({{numberOfRatings}})</b>
          </div>
      </ion-col>
      <ion-col size="3">
          <ion-button (click)="share()"  color="tertiary" size="small">
              <ion-icon name="share"></ion-icon>share</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

 <!-- image description -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <h6>Overview</h6>
        <p>{{hint.overview}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>Recommendation</h6>
        <p>{{hint.recommendations}}</p>
      </ion-col>
      <ion-col>
        <h6>Alternatives</h6>
        <p>{{hint.alternatives}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>Do's</h6>
        <p>{{hint.do}}</p>
      </ion-col>
      <ion-col>
        <h6>Dont's</h6>
        <p>{{hint.dont}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>Please rate the look</p>
  <div class="rating ion-margin-bottom">
      <ion-icon [class.rate]="rate.isChecked" (click)="rateTo(rate.score)" *ngFor="let rate of rating" name="{{rate.icon}}"></ion-icon>
  </div>
  
  <!-- Modal content -->
  <div *ngIf="!modal" class="modal-content " padding>
    <ion-list lines="none">
        <div class="friends-header ion-margin-top"  >
            <p style="float: left;margin: 0;" (click)="cancel()">cancel</p>
            <b >Share</b>
        </div>
        <p *ngIf="friends?.length == 0">You have no friends yet, try adding some friends.</p>
        <textarea style="width: 100%; margin-top: 20px" *ngIf="!friends?.length == 0" placeholder="Any message to share?" name="message" [(ngModel)]="message" cols="30" rows="5"></textarea>
        <ion-searchbar (ionChange)="searchFriends()" name="search" [(ngModel)]="search"  placeholder="search friends"></ion-searchbar>
        <p *ngIf="searched && friends?.length == 0">None of your friends have the name <ion-text color="danger">{{search}}</ion-text></p>
        <ion-item *ngFor="let friend of friends">
            <ion-avatar style="font-size: xx-large;padding-top: 3px;">
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>@{{friend.username}}</h2> 
            </ion-label>
            <ion-checkbox (ionChange)="selectFriend()" [(ngModel)]="friend.selected"  slot="end"></ion-checkbox>
        </ion-item>
        <ion-button style="margin-top: 50px" *ngIf="!friends?.length == 0" [disabled]="!friendSelected" (click)="addTip()" color="warning" expand="full" shape="round">Send</ion-button>
    </ion-list>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ios fab-horizontal-end fab-vertical-bottom hydrated">
      <ion-fab-button color="warning" class=" ios ion-activatable ion-focusable hydrated">
        <ion-icon name="arrow-dropleft" role="img" class="ios hydrated" aria-label="arrow dropleft"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start" class="ios fab-list-side-start hydrated">
        <ion-fab-button (click)="toCloset()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="shirt" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">closet</p>
        </ion-fab-button>
        <ion-fab-button (click)="toTips()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="open" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Tips</p>
        </ion-fab-button>
        <ion-fab-button (click)="toFriends()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="people" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Friends</p>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
