<ion-content>
  <div class="main-img">
    <!-- back button -->
    <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">
            <ion-icon style="font-size:40px" name="arrow-round-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <!-- image -->
    <img src="../../assets/examples/bogdan-glisik-1211054-unsplash.jpg" >
  </div>
  <ion-grid>
    <ion-row>
      <ion-col style="padding: 12px;margin-right: 10px;">
          <div class="categories">
              <ion-badge color="success">{{titleService.finalData.season | titlecase}}</ion-badge>
              <ion-badge color="primary">{{titleService.finalData.weather | titlecase}}</ion-badge>
              <ion-badge *ngIf="!occasion" color="warning">{{titleService.finalData.occasion | titlecase}}</ion-badge>
          </div>
          <div class="rating ion-margin-top">
              <ion-icon [class.rate]="rate.isChecked" *ngFor="let rate of rated" name="{{rate.icon}}"></ion-icon>
              <b padding style="color: yellow">5.0</b><b padding>(1111)</b>
          </div>
      </ion-col>
      <ion-col size="3">
          <ion-button (click)="share()"  color="tertiary" size="small">
              <ion-icon name="share"></ion-icon>share</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

 <!-- image description -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <h6>Overview</h6>
        <p>
            When a former BlackRose cartel assassin deliberately betrays them by refusing to complete her mission, the cartel orders her execution. Unbeknownst to them,
             she fakes her own death and is able to create a new life of her own. 
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>Recommendation</h6>
        <p>
            When a former BlackRose cartel assassin deliberately betrays them by refusing to complete her mission, the cartel orders her execution. Unbeknownst to them,
             she fakes her own death and is able to create a new life of her own. 
        </p>
      </ion-col>
      <ion-col>
        <h6>Alternatives</h6>
        <p>
            When a former BlackRose cartel assassin deliberately betrays them by refusing to complete her mission, the cartel orders her execution. Unbeknownst to them,
             she fakes her own death and is able to create a new life of her own. 
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>Do's</h6>
        <p>
            When a former BlackRose cartel assassin deliberately betrays them by refusing to complete her mission, the cartel orders her execution. Unbeknownst to them,
             she fakes her own death and is able to create a new life of her own. 
        </p>
      </ion-col>
      <ion-col>
        <h6>Dont's</h6>
        <p>
            When a former BlackRose cartel assassin deliberately betrays them by refusing to complete her mission, the cartel orders her execution. Unbeknownst to them,
             she fakes her own death and is able to create a new life of her own. 
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>Please rate the look</p>
  <div class="rating ion-margin-bottom">
      <ion-icon [class.rate]="rate.isChecked" (click)="rateTo(rate.score)" *ngFor="let rate of rating" name="{{rate.icon}}"></ion-icon>
  </div>
</ion-content>
