<ion-content scrollY="{{scrollOnModal}}">
  <div class="main-img">
    <!-- back button -->
    <ion-buttons style="position: absolute;top: 40px;" slot="start">
        <ion-button (click)="dismissModal()">
            <ion-icon style="font-size:40px" name="arrow-round-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <!-- image -->
    <ion-img [src]="hint.url"></ion-img>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col style="padding: 12px;margin-right: 10px;">
          <div class="categories">
              <ion-badge color="success">{{titleService.finalData.season | titlecase}}</ion-badge>
              <ion-badge color="primary">{{titleService.finalData.weather | titlecase}}</ion-badge>
              <ion-badge *ngIf="!occasion" color="warning">{{titleService.finalData.occasion | titlecase}}</ion-badge>
          </div>
          <div class="rating ion-margin-top">
              <ion-icon [class.rate]="rate.isChecked" *ngFor="let rate of rated" name="{{rate.icon}}"></ion-icon>
              <b padding>({{numberOfRatings}})</b>
          </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <ion-button (click)="share()"  color="tertiary" size="small">
              <ion-icon name="share"></ion-icon>share
          </ion-button>
        </div>
        <div>
            <ion-button *ngIf="!alreadyAdded" (click)="cancelCloset()"  color="dark" size="small">
                <ion-icon name="shirt"></ion-icon>
            </ion-button>

            <ion-button *ngIf="alreadyAdded" (click)="cancelCloset()"  color="warning" size="small">
                <ion-icon name="shirt"></ion-icon>
            </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

 <!-- image description -->
 <ion-slides [options]="sliderConfig">
   <ion-slide>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Overview</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{hint.overview | titlecase}}
          </ion-card-content>
        </ion-card>
   </ion-slide>

   <ion-slide>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Recommendations</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{hint.recommendations | titlecase}}
          </ion-card-content>
        </ion-card>
   </ion-slide>

   <ion-slide>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Alternatives</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{hint.alternatives | titlecase}}
          </ion-card-content>
        </ion-card>
   </ion-slide>
   <ion-slide>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Dont's</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{hint.dont | titlecase}}
          </ion-card-content>
        </ion-card>
   </ion-slide>
 </ion-slides>

  <p>Please rate the look</p>
  <div class="rating ion-margin-bottom">
      <ion-icon [class.rate]="rate.isChecked" (click)="rateTo(rate.score)" *ngFor="let rate of rating" name="{{rate.icon}}"></ion-icon>
  </div>
  
  <!--share Modal content -->
  <div *ngIf="!modal" class="modal-content " padding>
    <ion-list lines="none">
        <div class="friends-header ion-margin-top"  >
            <p style="float: left;margin: 0;" (click)="cancel()">cancel</p>
            <b >Share</b>
        </div>
        <p *ngIf="!searched && friends?.length == 0">You have no friends yet, try adding some friends.</p>
        <textarea style="width: 100%; margin-top: 20px" *ngIf="!friends?.length == 0" placeholder="Any message to share?" name="message" [(ngModel)]="message" cols="30" rows="5"></textarea>
        <ion-searchbar (ionChange)="searchFriends()" name="search" [(ngModel)]="search"  placeholder="search friends"></ion-searchbar>
        <p *ngIf="searched && friends?.length == 0">None of your friends have the name <ion-text color="danger">{{search}}</ion-text></p>
        <ion-item *ngFor="let friend of friends">
            <ion-avatar style="font-size: xx-large;padding-top: 3px;">
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>@{{friend.username}}</h2> 
            </ion-label>
            <ion-checkbox (ionChange)="selectFriend()" [(ngModel)]="friend.selected"  slot="end"></ion-checkbox>
        </ion-item>
        <ion-button style="margin-top: 50px" *ngIf="!friends?.length == 0" [disabled]="!friendSelected" (click)="addTip()" color="warning" expand="full" shape="round">Send</ion-button>
    </ion-list>
  </div>

  <!--closet Modal content -->
  <div *ngIf="closetModal" class="modal-content " padding>
    <ion-list lines="none">
        <div class="friends-header ion-margin-top ion-margin-bottom"  >
            <p style="float: left;margin: 0;" (click)="cancelCloset()">cancel</p>
            <b >Add to closet</b>
        </div>
        <ion-item *ngIf="noCollections">
          <ion-label>All hints</ion-label>
          <ion-checkbox [(ngModel)]="collection.selected" [disabled]="disableAll"  slot="end"></ion-checkbox>
          <ion-icon slot="end" name="lock"></ion-icon>
        </ion-item>
        <ion-button *ngIf="noCollections" [disabled]="!collection.selected" color="warning" shape="round" (click)="createCollection()" expand="block" size="small">
            Add to closet
        </ion-button>

        <ion-item *ngFor="let collection of collections">
            <ion-label>{{collection.name}}</ion-label>
            <ion-checkbox (ionChange)="selectCollection();removeCloset(collection.name)" [(ngModel)]="collection.selected"  slot="end"></ion-checkbox>
            <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <ion-button *ngIf="collections?.length > 0" [disabled]="!collectionSelected" color="warning" shape="round" (click)="addSelectedCollection()" expand="block" size="small">
            Add to closet
        </ion-button>
    </ion-list>
    <ion-list>
      <!-- new collection -->
      <div>
          <ion-buttons slot="start">
              <ion-button (click)="newCollection()">
                  <ion-icon name="add" ></ion-icon>
                    Create new collection
              </ion-button>
          </ion-buttons>
      </div>
      <div *ngIf="showNewCollection">
          <form #f="ngForm">
              <ion-input name="collectionName" [(ngModel)]="collection.collectionName" type="text" placeholder="Enter collection name" required></ion-input>
              <ion-button color="warning" shape="round" (click)="createCollection()" expand="block" size="small" [disabled]="!f.valid">
                  Create
              </ion-button>
          </form>
      </div>
    </ion-list>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ios fab-horizontal-end fab-vertical-bottom hydrated">
      <ion-fab-button color="warning" class=" ios ion-activatable ion-focusable hydrated">
        <ion-icon name="arrow-dropleft" role="img" class="ios hydrated" aria-label="arrow dropleft"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start" class="ios fab-list-side-start hydrated">
        <ion-fab-button (click)="toCloset()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="shirt" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">closet</p>
        </ion-fab-button>
        <ion-fab-button (click)="toTips()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="open" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Tips</p>
        </ion-fab-button>
        <ion-fab-button (click)="toFriends()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="people" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Friends</p>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
