ion-input, ion-select {
    background-color: #f8f8f8;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 6px;
    border: none;
    border-bottom: 2px solid #555;
    width: 85%;
}

ion-button {
    margin-top: 50px;
}

small {
    color: red;
}