<ion-header *ngIf="!modal">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
            <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Friends...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="friends">
    <ion-list lines="none">
        <ion-searchbar *ngIf="search != '' || friends?.length !== 0" (ionChange)="searchFriends()" name="search" [(ngModel)]="search"  placeholder="search friends"></ion-searchbar>
        <p *ngIf="searched && friends?.length == 0 && search != ''">None of your friends have the name <ion-text color="danger">{{search}}</ion-text></p>
        <ion-badge *ngIf="friends.length !== 0" color="warning">{{friends?.length}} friend(s)</ion-badge>
        <p *ngIf="!searched && friends?.length == 0">You have no friends yet, try adding some friends.</p>
      <ion-item-sliding *ngFor="let friend of friends">
        <ion-item>
            <ion-avatar style="font-size: xx-large;padding-top: 3px;">
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>@{{friend.username}}</h2> 
            </ion-label>
        </ion-item>
    
        <ion-item-options (click)="deleteFriend(friend._id, friend.username)" side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!-- search modal -->
  <div *ngIf="modal" class="modal-content " padding>
    <ion-list lines="none">
        <div class="friends-header ion-margin-top"  >
            <ion-toolbar>
              <ion-buttons slot="start">
                  <ion-button (click)="cancel()">
                      <ion-icon color="dark"  name="arrow-back" ></ion-icon>
                  </ion-button>
              </ion-buttons>
              <ion-title>Add new friend</ion-title>
            </ion-toolbar>
        </div>
        <ion-button *ngIf="!viewFriendRequests" color="secondary" expand="block" (click)="viewRequests()" lines="none" size="medium">
            <ion-icon slot="start" name="person-add"></ion-icon>
            View friend requests
        </ion-button>
        <ion-text *ngIf="viewFriendRequests" color="secondary">
            <p (click)="viewRequests()" >Hide friend requests<b >&#8595;</b></p>
        </ion-text>
        <div *ngIf="!viewFriendRequests">
            <ion-searchbar  (ionChange)="searchAddFriend()" name="query" [(ngModel)]="query"  placeholder="search by username"></ion-searchbar>
            <p *ngIf="content?.length === 0 && query != ''">Can't find user with username <ion-text color="danger">{{query}}</ion-text></p>
            <ion-item *ngFor="let friend of content">
                <ion-avatar style="font-size: xx-large;padding-top: 3px;">
                    <ion-icon name="contact"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>@{{friend.username}}</h2>
                </ion-label>
                <div *ngIf="!friend.isFriend && friend.objectID !== authService.userId">
                    <ion-button *ngIf="!friend.sent" (click)="friendRequest(friend.objectID)" color="tertiary">Friend request</ion-button>
                    <ion-text color="tertiary" *ngIf="friend.sent">
                      <p >Friend request sent</p>
                    </ion-text>
                </div>
                <div *ngIf="friend.isFriend">
                    <ion-text color="tertiary">
                      <p>Already your friend</p>
                    </ion-text>
                </div>
                <div *ngIf="friend.objectID === authService.userId">
                    <ion-text color="tertiary">
                      <p>Me</p>
                    </ion-text>
                </div>
            </ion-item>
        </div>

<!-- friend requests -->
        <div class="request" *ngIf="viewFriendRequests">
          <p *ngIf="notifications.length == 0">You do not have any friend requests.</p>
            <ion-item *ngFor="let notify of notifications">
                <div margin>
                  <p style="margin: 0"><b>@{{notify.fromUsername}} </b>{{notify.message}}.</p>
                  <div>
                    <ion-button (click)="acceptRequest(notify._id, notify.from)" color="primary">Accept request</ion-button>
                    <ion-button (click)="denyRequest(notify._id)" color="danger">Deny request</ion-button>
                  </div>
                  <small>{{GetPostTime(notify.createdAt)}}</small>
                </div>
          </ion-item>
        </div>
    </ion-list>
  </div>

  <ion-fab *ngIf="!modal" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="cancel()" color="warning">
          <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
