<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
              <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Cookie policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="twtr-component-space--md">

        <h1 class="twtr-type--page-headline">Our use of cookies and similar technologies</h1>
        



  
  
  <div class="c01-rich-text-editor twtr-component-space--md twtr-rte">
<p>Our services use cookies and other similar technologies, such as pixels or local storage, to help provide you with a better, faster, and safer experience. Here are some of the ways that our services, including our various websites, SMS, APIs, email notifications, applications, buttons, widgets, and ads, use these technologies: to log you into StyleHint and  save your preferences, personalize the content you see, protect against spam and abuse, and show you more relevant ads.<br>
</p>
<p>Below we explain how StyleHint, our partners, and other third parties use these technologies, your privacy settings, and the other options you have.</p>
<h3>What are cookies, pixels, and local storage?</h3>
<p>Cookies are small files that websites place on your computer as you browse the web. Like many websites, StyleHint, and our other services use cookies to discover how people are using our services and to make them work better.</p>
<p>A pixel is a small amount of code on a web page or in an email notification. As many services do, we use pixels to learn whether you’ve interacted with certain web or email content. This helps us measure and improve our services and personalize your experience.</p>
<p>Local storage is an industry-standard technology that allows a website or application to store information locally on your computer or mobile device. We use local storage to customize what we show you based on your past interactions with our services.</p>
<h3>Why do our services use these technologies?<br>
</h3>
<p>Our services use these technologies to deliver, measure, and improve our services in various ways. These uses generally fall into one of the following categories:<br>
</p>
<ul><li><b>Authentication and security:</b><ul><li>To log you into StyleHint.<br>
</li><li>To protect your security.</li><li>To let you to view content with limited distribution.</li><li>To help us detect and fight spam, abuse, and other activities that violate the StyleHint Rules.</li></ul>
</li><li><b>Analytics and research:</b><ul><li>To help us improve and understand how people use our services.</li></ul>
</li><li><b>Personalized content:</b><br>
<ul><li>To customize our services with more relevant content, like tailored trends, stories, ads, and suggestions for people to follow.</li><li>For example, local storage tells us which parts of your StyleHint timeline&nbsp;or  Global Feed you have viewed already so that we can show you the appropriate new content. Cookies can help us make smarter and more relevant suggestions about who you might enjoy following based on your visits to websites that have integrated StyleHint embeds, including embedded timelines.</li></ul>
</li><li><b>Advertising:</b><br>
<ul><li>To help us deliver ads, measure their performance, and make them more relevant to you based on criteria like your activity on StyleHint and visits to our ad partners' websites.</li><li>For example, we use cookies and pixels to personalize ads and measure their performance. Using these technologies, we can show you ads and evaluate their effectiveness based on your visits to our ad partners' websites. This helps advertisers provide high-quality ads and content that might be more interesting to you.</li><li>We also work with third-party advertising partners, including Google, to market our services and serve ads on behalf of our advertisers, including through the delivery of interest-based ads.<br>
</li></ul>
</li><li><b>Personalization across devices:</b><ul><li>By better understanding how devices are related, we can use information from one device to help personalize the StyleHint experience on another device.</li></ul>
</li></ul>
<h3>Where are these technologies used?</h3>
<p>We (along with third parties) use these technologies on our websites, applications, and services and on other websites, applications, and services that have integrated our services, including third-party properties that incorporate our advertising technology. This includes our ad partners’ websites and sites that use our embeds, including embedded timelines. Third parties may also use these technologies, for example, when you click on links from our websites or applications, view or interact with third-party content from within our services, or visit third-party websites that incorporate our advertising technology.<br>
</p>
<h3><a name="privacy-options"></a>What are my privacy options?</h3>
<p>We are committed to offering you meaningful privacy choices. You have a number of options to control or limit how we, our partners, and other third parties use cookies:<br>
</p>


</div>





      </div>
</ion-content>
