ion-slide {
    height: 100vh;
    flex-direction: column;
    color: white;
}

.slide-logo {
    display: inline-flex;
    text-align: center;
    margin: 50px 0px;
}

ion-img {
    max-width: 50vw;
    width: 50px !important;
}

.step-one {
    background-color: blueviolet;
    z-index: -100;
}

.step-two {
    background-color: greenyellow;
    z-index: -100;
}

.step-three {
    background-color: black;
    z-index: -100;
}

.next {
    margin-top: auto;
    margin-bottom: 100px;
}

.size {
    display: inline-flex;
}

h6, h3 {
    font-style: italic;
}

.gender {
    --background: black !important;
}
