<ion-content scrollY="false">
    <ion-slides pager="false" #slides [options]="slideOpts">
      
        <!-- Gender slide -->
          <ion-slide color="danger" class="step-one">
              <span class="slide-logo">
                  <ion-img src="../../assets/towel.svg"></ion-img>
                  <h1>StyleHint</h1>
              </span>
              <ion-text color="light">
                <h6>Please help us customize your style and fashion by answering the following questions.
                    It will take just a few seconds.</h6>
              </ion-text>
              <h3>Are you?</h3>
            <!-- gender content -->
            <ion-button (click)="maleGender()" [class.gender]="maleElement" class="ion-text-uppercase ion-margin-top" shape="round" expand="full" size="default">
                Male
            </ion-button>
            <ion-button (click)="femaleGender()" [class.gender]="femaleElement" class="ion-text-uppercase ion-margin-top female" shape="round" expand="full" size="default">
                Female
            </ion-button>
            <ion-button (click)="kidGender()" [class.gender]="kidElement" class="ion-text-uppercase ion-margin-top kid" shape="round" expand="full" size="default">
                Kid
            </ion-button>
    
            <!-- next button -->
            <ion-button class="next" color="dark" (click)="nextSlide()" size="small" [disabled]="!genderSelected">next</ion-button>
          </ion-slide>
          
          <ion-slide color="warning" class="step-two">
            <div class="slide-logo">
                <ion-img src="../../assets/towel.svg"></ion-img>
                <h1>StyleHint</h1>
            </div>
            <div class="next size">
              <ion-buttons>
                  <ion-button (click)="prevSlide()" size="small">
                      <ion-icon  name="arrow-back"></ion-icon>
                  </ion-button>
              </ion-buttons>
              <ion-buttons>
                  <ion-button (click)="nextSlide()" size="small">
                      <ion-icon  name="arrow-forward"></ion-icon>
                  </ion-button>
              </ion-buttons>
            </div>
          </ion-slide>
      
          <ion-slide color="secondary" class="step-three">
            <div class="slide-logo">
                <ion-img src="../../assets/towel.svg"></ion-img>
                <h1>StyleHint</h1>
            </div>
            <div class="next size">
                <ion-buttons>
                    <ion-button (click)="prevSlide()" size="small">
                        <ion-icon  name="arrow-back"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-button (click)="nextSlide()"  size="small">All set</ion-button>
              </div>
          </ion-slide>
      </ion-slides>
</ion-content>
