ion-slide {
    height: 100vh;
    flex-direction: column;
    color: white;
}

.slide-logo {
    display: inline-flex;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

ion-img {
    max-width: 50vw;
    width: 50px !important;
}

.step-one {
    background-color: blueviolet;
    z-index: -100;
}

.step-two {
    background-color: blueviolet;
    z-index: -100;
}

.step-three {
    background-color: blueviolet;
    z-index: -100;
}

.prev {
    position: absolute;
    top: 30px;
    left: 10px;
}

.next {
    margin-top: auto;
    margin-bottom: 100px;
}

.size {
    display: inline-flex;
}

h6, h3 {
    font-style: italic;
}

.chosen {
    --background: black !important;
}
