<ion-content scrollY="false">
    <ion-slides pager="false" #slides [options]="slideOpts">
      
        <!-- Gender slide -->
          <ion-slide class="step-one">
              <span class="slide-logo">
                  <ion-img class="animated fadeInLeft" src="../../assets/towel.svg"></ion-img>
                  <h1 class="animated bounce">StyleHint</h1>
              </span>
              <ion-text color="light">
                <h6>Please help us customize your style and fashion by answering the following questions.
                    It will take just a few seconds.</h6>
              </ion-text>
              <h3>Are you?</h3>
            <!-- gender content -->
            <ion-button (click)="maleGender()" [class.chosen]="maleElement" class="ion-text-uppercase ion-margin-top" shape="round" expand="full" size="default">
                Male
                <ion-select interface="action-sheet" (ionChange)="genderSelection($event)" value="adult" cancelText="Dismiss">
                    <ion-select-option value="adult">Adult</ion-select-option>
                    <ion-select-option value="kid">Kid</ion-select-option>
                </ion-select>
            </ion-button>
            <ion-button (click)="femaleGender()"  (ionChange)="genderSelection($event)" [class.chosen]="femaleElement" class="ion-text-uppercase ion-margin-top" shape="round" expand="full" size="default">
                Female
                <ion-select interface="action-sheet" value="adult" cancelText="Dismiss">
                    <ion-select-option value="adult">Adult</ion-select-option>
                    <ion-select-option value="kid">Kid</ion-select-option>
                </ion-select>
            </ion-button>
            <!-- next button -->
            <ion-button class="next" color="dark" (click)="nextSlide()" size="small" [disabled]="!genderSelected">next</ion-button>
          </ion-slide>
          
          <!-- slide two -->
          <ion-slide  class="step-two">
            <span class="slide-logo">
                <ion-img src="../../assets/towel.svg"></ion-img>
                <h1>StyleHint</h1>
            </span>
            <ion-text color="light">
                    <h6>This will help us find more relevant content for you.</h6>
            </ion-text>
            <h3>I am?</h3>
            <!-- size content -->
            <ion-button (click)="petiteSize()" [class.chosen]="petiteElement" class="ion-text-uppercase ion-margin-top" shape="round" expand="full" size="default">
                Petite
            </ion-button>
            <small>5'3" or shorter</small>
            <ion-button (click)="plusSize()" [class.chosen]="plusElement"  class="ion-text-uppercase ion-margin-top" shape="round" expand="full" size="default">
                Plus size
            </ion-button>
            <small>size 10 and above</small>
            <ion-button (click)="tallSize()" [class.chosen]="tallElement"  class="ion-text-uppercase ion-margin-top " shape="round" expand="full" size="default">
                Tall
            </ion-button>
            <small>5'4" to 5'8"</small>
            <!-- next and previous buttons -->
            <div class="next size">
              <ion-buttons>
                  <ion-button (click)="prevSlide()" size="small">
                      <ion-icon  name="arrow-back"></ion-icon>
                  </ion-button>
              </ion-buttons>
              <ion-buttons>
                  <ion-button [disabled]="sizeSelected" (click)="nextSlide()" size="small">
                      <ion-icon  name="arrow-forward"></ion-icon>
                  </ion-button>
              </ion-buttons>
            </div>
          </ion-slide>
      
          <!-- slide three -->
          <ion-slide  class="step-three">
            <div class="slide-logo">
                <ion-img src="../../assets/towel.svg"></ion-img>
                <h1>StyleHint</h1>
            </div>
            <ion-text color="light">
                    <h6>This will help us make your search for content more easy.</h6>
            </ion-text>

            <h3>What style are you more interested in?</h3>
            <!-- size content -->
            <ion-button (click)="expensive()" [class.chosen]="expensiveElement" class="ion-text-uppercase ion-margin-top" shape="round" expand="full" size="default">
                Expensive
            </ion-button>
            <ion-button (click)="casual()" [class.chosen]="casualElement"  class="ion-text-uppercase ion-margin-top" shape="round" expand="full" size="default">
                Casual
            </ion-button>
            <span class="prev">
                <ion-buttons>
                        <ion-button color="dark" (click)="prevSlide()" size="large">
                            <ion-icon  name="arrow-back"></ion-icon>
                        </ion-button>
                </ion-buttons>
            </span>
            <div class="next">
                <ion-button [disabled]="interestSelected" class="ion-margin-top" (click)="toHome()" color="light" shape="round" expand="full" size="large">
                    All set to go
                </ion-button>
            </div>
          </ion-slide>
      </ion-slides>
</ion-content>
