<ion-header *ngIf="!hideToolbar">
  <ion-toolbar>
    <ion-title>My closet</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
            <ion-icon color="dark" name="arrow-round-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="callNew()">
            <ion-icon color="dark" name="add" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Closet...">
    </ion-refresher-content>
  </ion-refresher>
  <p *ngIf="collections?.collections?.length === 0">You have no hints in your closet. Try adding some.</p>
  <div class="collections">
    <div class="card" (click)="cancel();getCollectionInfo(collection._id)" *ngFor="let collection of collections.collections">
        <img class="animated fadeInRight delay-1s" *ngIf="collection?.hints?.length == 0" src=" http://placehold.it/950?text=No+Hints" >
      <div  *ngFor="let hint of collection.hints; let i = index">
        <img class="animated fadeInRight delay-1s" *ngIf="i/1 == 0" [src]="hint.url">
      </div>
      <ion-text>
          <b class="animated fadeInRight delay-1s">{{collection.name | titlecase}}</b>
      </ion-text>
    </div>
  </div>

   <!--closetInfo Modal content -->
   <div *ngIf="closetInfo" class="modal-content " padding>
      <div class="">
        <ion-buttons class="ion-float-left">
            <ion-button color="dark" (click)="cancel()">
                cancel
            </ion-button>
        </ion-buttons>
        <ion-buttons class="ion-float-right">
            <ion-button (click)="presentEdit()">
                <ion-icon color="dark" name="more" class="ion-margin-start"></ion-icon>
            </ion-button>
        </ion-buttons>
      </div>
      <h4>{{collectionInfo.name | titlecase}}</h4>
      <p *ngIf="collectionInfo.hints.length == 0"> You do not have any hints in this collection.</p>
      <div class="pins">
        <div (click)="viewHint(hint._id)" class="pin" *ngFor="let hint of collectionInfo.hints" >
            <img  [src]="hint.url">
            <ion-icon (click)="deleteHintAlert(hint._id, collectionInfo.name)" style="position: sticky;"  size="medium" color="danger" name="trash"></ion-icon>
        </div>
      </div>
   </div>

   <!--EditInfo Modal content -->
   <div *ngIf="editInfo" class="modal-content " padding>
      <div class="">
        <ion-buttons class="ion-float-left">
            <ion-button color="dark" (click)="callEdit()">
                cancel
            </ion-button>
        </ion-buttons>
        <h6 style="padding-top: 7px" class="ion-text-center">Edit collection</h6>
      </div>
      <div>
        <ion-item lines="none">
            <ion-label >
              <ion-text slot="start">
                <b>Name</b>
              </ion-text>
            </ion-label>
        </ion-item>
        <form #f="ngForm">
            <ion-input name="newName" [(ngModel)]="editCollection.newName" type="text" required></ion-input>
            <ion-button (click)="editName()" color="warning" shape="round" expand="block" size="small" [disabled]="!f.valid">
                Edit collection name
            </ion-button>
        </form>
        <ion-item lines="none">
            <ion-label >
              <ion-text slot="start">
                <b>Manage</b>
              </ion-text>
            </ion-label>
        </ion-item>
        <ion-buttons slot="start">
            <ion-button color="danger" (click)="presentAlertConfirm()">
              Delete collection
            </ion-button>
        </ion-buttons>
      </div>
   </div>

    <!--newInfo Modal content -->
    <div *ngIf="newInfo" class="modal-content " padding>
      <div >
        <ion-buttons class="ion-float-left">
            <ion-button color="dark" (click)="callNew()">
                cancel
            </ion-button>
        </ion-buttons>
        <h6 style="padding-top: 7px" class="ion-text-center">New collection</h6>
      </div>
      <div>
        <ion-item lines="none">
            <ion-label >
              <ion-text slot="start">
                <b>Name</b>
              </ion-text>
            </ion-label>
        </ion-item>
        <form #f="ngForm">
            <ion-input name="collectionName" [(ngModel)]="editCollection.collectionName" type="text" required></ion-input>
            <ion-button (click)="createCollection()" color="warning" shape="round" expand="block" size="small" [disabled]="!f.valid">
                Create new collection
            </ion-button>
        </form>
      </div>
   </div>


   <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ios fab-horizontal-end fab-vertical-bottom hydrated">
      <ion-fab-button color="warning" class=" ios ion-activatable ion-focusable hydrated">
        <ion-icon name="arrow-dropleft" role="img" class="ios hydrated" aria-label="arrow dropleft"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start" class="ios fab-list-side-start hydrated">
        <ion-fab-button (click)="toCloset()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="shirt" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">closet</p>
        </ion-fab-button>
        <ion-fab-button (click)="toTips()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="open" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Tips</p>
        </ion-fab-button>
        <ion-fab-button (click)="toFriends()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="people" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Friends</p>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>