<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
              <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Update gender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ion-margin-top" *ngFor="let gender of titleService.genders" (click)="selectSize(gender.val)">
      <ion-label>{{gender.val | titlecase}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="gender.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
