<ion-app >
  <ion-split-pane [disabled]="titleService.showSplitPane">
    <ion-menu (ionDidClose)="actHome()" (ionDidOpen)="actHome()" *ngIf="!titleService.goToAdmin" swipeGesture="false" menuId="custom">
      <ion-header>
        <ion-toolbar>
          <ion-title>Account</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle  auto-hide="false" *ngFor="let p of titleService.appPages">
            <ion-item class="ion-margin-bottom" [routerDirection]="'forward'" [routerLink]="[p.url]" lines="none">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title | titlecase}}
              </ion-label>
              <ion-text color="medium">
                <small *ngIf="p.symbol">{{p.symbol}}</small>
                <small *ngIf="p.value">{{p.value}}</small>
              </ion-text>
            </ion-item>
          </ion-menu-toggle>
          <ion-item *ngIf="titleService.isAdmin" class="log-out-button" lines="none">
              <ion-button class="log-out" color="secondary" expand="block" (click)="toAdmin()" size="medium">
                  Admin
              </ion-button>
          </ion-item>
          <ion-item *ngIf="!titleService.hideLogOut" class="log-out-button" lines="none">
              <ion-button class="log-out" color="warning" expand="block" (click)="logout()" size="medium">
                  Log out
              </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- admin menu -->
    <ion-menu *ngIf="titleService.goToAdmin" swipeGesture="false" menuId="first">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Tools</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item [routerDirection]="'forward'" [routerLink]="['/menu']">Admin</ion-item>
            <ion-item [routerDirection]="'forward'" [routerLink]="['/add-hint']">Add hint</ion-item>
            <ion-item [routerDirection]="'forward'" [routerLink]="['/all-users']">Users</ion-item>
            <ion-item [routerDirection]="'forward'" [routerLink]="['/all-hints']">Hints</ion-item>
            <ion-item>Menu Item</ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-item class="log-out-button" lines="none">
            <ion-button class="log-out" color="secondary" expand="block" (click)="toUser()" lines="none" size="medium">
                Switch view
            </ion-button>
        </ion-item>
        <ion-item class="log-out-button" lines="none">
            <ion-button class="log-out" color="warning" expand="block" (click)="logout()" size="medium">
                Log out
            </ion-button>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
