<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
              <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>
      Update country
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let country of titleService.countries" (click)="selectCountry(country.name)">
      <ion-label [class.isSelected]="country.selected">
          {{country.name}}
      </ion-label>
      <ion-icon [class.isSelected]="country.selected" *ngIf="country.selected" slot="end" name="checkmark"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
