<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="dark" text=""></ion-back-button>
      </ion-buttons>
    <ion-title>{{news.headline}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card ><!---->
      <img [src]="news.url" class="prev-img">
      <ion-card-header>
        <ion-card-subtitle role="heading" aria-level="3">{{news.genre | titlecase}}</ion-card-subtitle>
        <ion-card-title role="heading" aria-level="2">{{news.headline | titlecase}}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        {{news.overview}}
      </ion-card-content>
    </ion-card>
</ion-content>
