<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
            <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Tips</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="warning"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        refreshingSpinner="circles"
        refreshingText="Tips...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-badge color="warning">Tips get removed after 24 hours.</ion-badge>

    <!-- tips -->
  <div>
    <ion-text color="medium">
        <h3>Tips</h3>
        <p>These are hints your friends shared with you.</p>
    </ion-text>
    <p *ngIf="tips?.length === 0">No one has shared any hints with you.</p>
    <div class="pins">
      <div class="pin" *ngFor="let tip of tips" (click)="toTip(tip._id, false)">
          <img [class.to-be-seen]="tip.toBeSeen"  [src]="tip.imageUrl">
          <b >@{{tip.ownerUsername}}</b>
          <small style="display: block">{{GetPostTime(tip.createdAt)}}</small>
      </div>
    </div>
  </div>

  <!-- my tips -->
  <div>
    <ion-text color="medium">
        <h3>My Tips</h3>
        <p>These are hints you shared with your friends.</p>
    </ion-text>
    <p *ngIf="myTips?.length === 0">You haven't shared any hints recently.</p>
    <div class="pins">
      <div class="pin" *ngFor="let myTip of myTips" (click)="toTip(myTip._id, true)">
          <img  [src]="myTip.imageUrl">
          <small>{{GetPostTime(myTip.createdAt)}}</small>
      </div>
    </div>
  </div>

 <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ios fab-horizontal-end fab-vertical-bottom hydrated">
    <ion-fab-button color="warning" class=" ios ion-activatable ion-focusable hydrated">
      <ion-icon name="arrow-dropleft" role="img" class="ios hydrated" aria-label="arrow dropleft"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start" class="ios fab-list-side-start hydrated">
      <ion-fab-button (click)="toCloset()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <ion-icon style="position: absolute; top: 0" name="shirt" role="img" class="ios hydrated"></ion-icon>
        <p style="margin-bottom: inherit">closet</p>
      </ion-fab-button>
      <ion-fab-button (click)="toTips()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <ion-icon style="position: absolute; top: 0" name="open" role="img" class="ios hydrated"></ion-icon>
        <p style="margin-bottom: inherit">Tips</p>
      </ion-fab-button>
      <ion-fab-button (click)="toFriends()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <ion-icon style="position: absolute; top: 0" name="people" role="img" class="ios hydrated"></ion-icon>
        <p style="margin-bottom: inherit">Friends</p>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
