ion-input, ion-select{
    background-color: #f8f8f8;
    margin: 20px;
    margin-bottom: 9px;
    border-radius: 6px;
    border: none;
    border-bottom: 2px solid #555;
    width: 85%;
}

small {
    color: red;
}

.horizontal-line {
    border-bottom: 4px solid black;
    margin-top: 10px;
}