<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
              <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Privacy policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <main class="site__content" role="main">
        <a id="main-content" tabindex="-1" aria-hidden="true"></a>
    
      <div>
    <article role="article" about="/en/privacy-policy">
      
    
    
    <header class="header u-full-width   header--large-text     header--full-width u-anim-staggered-start" data-anim-trigger="view" data-anim-triggered="yes">
    
        
        
    <div class="header__inner">
              <h1 class="header__text u-anim-fade-in-and-slide-up u-anim-staggered-start__item" data-anim-triggered="yes"><span>Privacy policy</span>
    </h1>
        
            
            
            
                </div>
    
    </header>
            <a id="section-thank-you-for-using-StyleHint" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view" data-anim-triggered="yes">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--1504819359">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                Thank you for using StyleHint!
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p>Our mission is to help you discover and do what you love. To do that, we show you personalized content and ads we think you’ll be interested in based on information we collect from you and third parties. We only use that information where we have a proper legal basis for doing so.&nbsp;</p>
    <p>
    We wrote this policy to help you understand what information we collect, how we use it and what choices you have about it. Because we’re an internet company, some of the concepts below are a little technical, but we’ve tried our best to explain things in a simple and clear way.</p>
    
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-we-collect-information-in-a-few-different-ways" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view" data-anim-triggered="yes">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--1869240584">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                We collect information in a few different ways:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <a id="sub-section-1-when-you-give-it-to-us-or-give-us-permission-to-obtain-it" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    
    <h2 class="subhead-list__subhead u-text--grey--medium u-no-spacing-up">
          1. When you give it to us or give us permission to obtain it
    
    </h2>
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p>When you sign up for or use StyleHint, you give us certain information voluntarily. This includes your country, email address, profile photo, comments, and any other information you give us. You can also choose to share with us&nbsp;location data or photos. If you buy something on StyleHint, we collect payment information, contact information (address and phone number) and details of what you bought. If you buy something for someone else on StyleHint, we collect their delivery details and contact information.</p>
    
    
        </div>
          
              
    </div>
    
    </li>
          <li class="subhead-list__item">
    
    
    <a id="sub-section-2-we-also-get-technical-information-when-you-use-StyleHint" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    
    <h2 class="subhead-list__subhead u-text--grey--medium u-no-spacing-up">
          2. We also get technical information when you use StyleHint
    
    </h2>
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
    <ul><li><strong>Log data.</strong> Log data information includes your browser type, operating system, location, and device information</li>
    <li><strong>Device information.</strong> In addition to log data, we collect information about the device you’re using StyleHint on, including type of device, operating system, and crash data that helps us understand when something breaks. Whether we collect some or all of this information often depends on what type of device you’re using and its settings. For example, different types of information are available depending on whether you’re using a Mac or a PC, or an iPhone or Android phone.<br>
    &nbsp;</li>
    </ul>
    
        </div>
          
              
    </div>
    
    </li>
          <li class="subhead-list__item">
    
    
    <a id="sub-section-3-our-partners-and-advertisers-share-information-with-us" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    
    <h2 class="subhead-list__subhead u-text--grey--medium u-no-spacing-up">
          3. Our partners and advertisers share information with us
    
    </h2>
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p>Advertising revenue allows us to support and improve our services. We use the information described in this Privacy Policy to help make our advertising more relevant to you, to measure its effectiveness, and to help recognize your devices to serve you ads on StyleHint</p>
                <p>We also get information about you and your activity outside StyleHint from our affiliates, advertisers, partners and other third parties we work with, or other publicly available sources. For example:</p>
    <li>Online advertisers or third parties share information with us to measure or improve the performance of ads on StyleHint, or to figure out what kinds of ads to show you. This includes information about your visits to an advertiser's site or purchases you made from them, or information about your interests from a third party service, which we might use to help show you ads. </li>
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-what-we-do-with-the-info-we-collect" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view" data-anim-triggered="yes">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--1747493899">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                What we do with the information we collect:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p>We use the information we collect to provide the Service to you. We commit to showing you&nbsp;content that’s relevant, interesting and personal to you. In order to do that, it’s necessary for us to use your information to:&nbsp;</p>
    <ul><li>Identify you when you use StyleHint, and process your transactions.</li>
    <li>Recommend Hints you might like based on your activity on StyleHint. For example, if we see you’re into sports, we may suggest sport-related Hints that we think you might like or show you food-related ads.</li>
    <li>Respond to your questions or comments.</li>
    </ul><p>In addition and for similar reasons, we have a legitimate interest in using your information in these ways. It is also fundamental to the nature of the Service we provide. In short, it’s necessary for us to do these things in order to make the Service relevant, interesting and personal to you like we promised, and it’s in both of our interests for us to do that.</p>
    <p>
    We also have a legitimate interest to improve StyleHint, maintain our relationship with you, and protect users. We both benefit when we use your information to:&nbsp;</p>
    <ul>
    <li dir="ltr">
    </li>
    <li dir="ltr">
    <p dir="ltr">Conduct analytics on who is using StyleHint and what they are doing. For example, by logging how often people use two different versions of a feature on StyleHint, we can understand which version is better.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Improve StyleHint and offer new features.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Send you updates (such as when certain activity, like comments, happens on StyleHint) and news by email or push notification. For example, we send weekly updates that include Hints you may like. You can decide to stop getting these notifications by updating your settings&nbsp;.</p>
    </li>
    <li>Work with law enforcement and keep StyleHint safe. We may get requests for account information from law enforcement authorities like the police or courts.</li>
    </ul><p>We have a legitimate interest in delivering ads that are relevant, interesting and personal to you in order to generate revenue&nbsp;(providing this Service is expensive!)&nbsp;To further these interests we use the information we collect to:&nbsp;</p>
    <ul><li dir="ltr">
    <p dir="ltr">Decide which ads to show you. For example, if you show an interest in camping tents on StyleHint, we may show you ads for other outdoor products. We customize the ad content we show you by identifying your interests based on your onsite and offsite activities, as well as by using information we receive from ad partners or other third parties. Where we use cookies to identify your offsite interests, we will obtain consent where required as described in more detail below. Where ad partners or other third parties share information with us about you, we rely on the consent they have obtained.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Tell our ad partners how their StyleHint ads are doing, and how to make them better. Some of this information is aggregated. For example, we would report to an advertiser that a certain percentage of people who viewed a Promoted Pin went on to visit that advertiser's site. In other instances, this information isn’t aggregated. For example, we would let an advertiser know that a particular Promoted Pin has been saved by certain people.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Tell our ad partners the types of products you might be interested in. For example, if you create a board dedicated to sneakers, we can tell a retailer that you’re more interested in sneakers than, say, sweaters. This helps us and our ad partners to make sure that the content and ads you see are relevant to you.</p>
    </li>
    </ul><p dir="ltr">We have a legitimate interest in using information we collect to customize your StyleHint experience based on your offsite behavior. For example, if you visit websites that sell electric guitars, we may suggest guitar Hints to you. When we identify your interests based on your offsite behavior with cookies, we will obtain any consent we may need.</p>
    <p dir="ltr">In addition to the specific circumstances above, we’ll only use your information with your consent in order to:</p>
    <ul><li dir="ltr">
    <p dir="ltr">Send you marketing materials by email, text or push notification, depending on your account or operating system settings. Each time we send you marketing materials, we give you the option to unsubscribe.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Identify your location and customize the content we show you. For example, if we know that you are based in San Francisco, we could show you Hints of local products. You can opt in to this in your device operating system settings.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Allow searching with photos. For example, if you take a photo of a pair of shoes or a piece of furniture you like, you can ask us to show you&nbsp;similar items. You can opt in to this in your device operating system settings.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Tell our ad partners how their ads are doing using the StyleHint tag. The StyleHint tag (a piece of code) delivers insights to us and our ad partners about actions that a person takes on their website after viewing an ad on StyleHint.</p>
    </li>
    </ul><p dir="ltr">We’ll also rely on your consent where we use cookies to:</p>
    <ul><li dir="ltr">
    <p dir="ltr">Identify you across different browser sessions. This means if you log into StyleHint from your phone (or any device), we'll remember that you're you and you won't need to enter your login details each time you visit StyleHint.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Show you ads you might be interested in. We use cookies to identify your interests based on your offsite behavior. We do this for existing users and for new users, and it helps us customize the new user experience.</p>
    </li>
    </ul>
    
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-transferring-your-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view" data-anim-triggered="yes">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--167977176">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                Transferring your information:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p dir="ltr">StyleHint is a worldwide service. By using our products or services, you authorize us to transfer and store your information outside your home country, including in the United States, for the purposes described in this policy. The privacy protections and the rights of authorities to access your personal information in such countries may not be equivalent to those of your home country.</p>
    <p dir="ltr">StyleHint complies with the EU-U.S. Privacy Shield Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information transferred from the European Union to the United States. StyleHint has certified to the Department of Commerce that it adheres to the Privacy Shield Principles. If there is any conflict between the terms in this privacy policy and the Privacy Shield Principles, the Privacy Shield Principles shall govern.&nbsp;To learn more about the Privacy Shield program, and to view our certification, please visit the <a href="https://www.privacyshield.gov/" target="_blank">Privacy Shield website</a>.</p>
    <p dir="ltr">Where we share information we receive under Privacy Shield with third parties, we're responsible for making sure those third parties also comply with Privacy Shield, unless we can prove we're not responsible for the damaging event.</p>
    <p dir="ltr">Where we transfer information from the EEA to a country that doesn't provide an adequate level of protection, we’ll only do so under appropriate safeguards to protect your information, like standard contractual clauses, or Privacy Shield certification.</p>
    
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-choices-you-have-about-your-info" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--1775484243">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                Choices you have about your info:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
            <div class="p06  twtr-color--black-neutral">
                    <p>Your StyleHint Personalization and data settings let you decide :</p>
                <ul><li>Whether we show you interest-based ads on and off StyleHint<br>
                </li><li>How we personalize your experience across devices<br>
                </li><li>Whether we collect and use your precise location<br>
                </li><li>Whether we personalize your experience based on where you’ve been<br>
                </li><li>Whether we keep track of the websites where you see StyleHint content<br>
                </li></ul>
                <p>You can use Your StyleHint data to review:<br>
                </p>
                <ul><li>Advertisers who have included you in tailored audiences to serve you ads<br>
                </li><li>Demographic and interest data about your account from our ads partners<br>
                </li><li>Information that StyleHint has inferred about you such as your age range, gender, languages, and interests<br>
                </li></ul>
                <p>We also provide a version of these tools on StyleHint if you don’t have a StyleHint account, or if you’re logged out of your account. This lets you see the data and settings for the logged out browser or device you are using, separate from any StyleHint account that uses that browser or device.</p>
                
                  </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-how-and-when-we-share-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--1087195060">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                How and when we share information:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
    <ul>
    <li dir="ltr">
    <p dir="ltr">Merchants you purchase from on StyleHint. When you buy something on StyleHint using your payment card, we share information necessary for you to make your purchase, such as your payment card information, contact information, and other information about the transaction with the merchant you’re buying from. For example, if you buy something on StyleHint using Apple Pay, your card number isn’t shared with the merchant, but we still share contact and transaction information. We share this information because it’s necessary to make the purchase. The merchants treat this information in the same way as if you had made a purchase from their website directly, which means that their privacy policies and marketing policies apply to the information we share with them. For more information on what we share with merchants.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Online advertisers and third party companies that we or they use to audit or improve the delivery and performance of ads or content on websites and apps (for example, through Google Analytics). This includes what Hints or ads you were shown on StyleHint and whether or how you engaged with those Hints or ads, or other information about your activity on StyleHint.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Third party companies or individuals that we employ to process information on our behalf based on our instructions and in compliance with this Privacy Policy. For example, we share payment card information with the payment companies we use to store your payment information. We also share data with security consultants to help us get better at identifying spam.&nbsp;Some information we acquire may be collected by third party providers on our behalf.&nbsp;</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Law enforcement agencies or government agencies. We only share information if we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; to protect the safety, rights, or property of the public, any person, or StyleHint; or to detect, prevent, or otherwise address fraud, security or technical issues.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Our wholly owned subsidiaries and affiliates. If we were to engage in a merger, acquisition, bankruptcy, dissolution, reorganisation, or similar transaction or proceeding that involves the transfer of the information described in this Policy, we would share your information with a party involved in such a process (for example, a potential purchaser).</p>
    </li>
    </ul>
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-how-long-we-keep-your-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--1531633697">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                How long we keep your information:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p>We keep your information only so long as we need it to provide StyleHint to you and fulfill the purposes described in this policy. This is also the case for anyone that we share your information with and who carries&nbsp;out services on our behalf. When we no longer need to use your information and there is no need for us to keep it to comply with our legal or regulatory obligations, we’ll either remove it from our systems or depersonalize it so that we can't identify you.&nbsp;</p>
    
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-our-policy-on-childrens-information" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--2138160354">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                Our policy on children’s information:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p dir="ltr">Children under 13 are not allowed to use StyleHint. If you are based in the EEA you may only use StyleHint if you are over the age at which you can provide consent to data processing under the laws of your country or if verifiable parental consent for your use of StyleHint has been provided to us. If you are a parent and you learn that your child is using StyleHint and you don't want them to, please contact us.</p>
                <p>We however have a lot of safe content for kids, which can be accessed by their parents or children over 13 years of age.</p>
    
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-your-options" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--483724057">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                Your options:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p dir="ltr">You have options in relation to the information that we have about you described below. To exercise these options, please contact us. If you're an EEA user, you can:</p>
    <ul><li dir="ltr">
    <p dir="ltr">Access the information we hold about you. We'll usually share this with you within 30 days of you asking us for it.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Have your information corrected or deleted. You can update your information in your settings. If you have problems updating the information or if you would like us to delete it, contact us.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Object to us processing your information. You can ask us to stop using your information, including when we use your information to send you marketing emails or push notifications. If you opt out of receiving marketing messages from us, we may still send you newsletters and updates about your account, such as when another user comments on one of your Hints. We only send you marketing material if you've agreed to it, but if you'd rather we don't, you can easily unsubscribe at any time.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Have the information you provided to us sent to another organization, where we hold this information&nbsp;with your consent or for the performance of a contract with you, where it's technically feasible.</p>
    </li>
    <li dir="ltr">
    <p dir="ltr">Complain to a regulator. If you're based in the EEA and think that we haven't complied with data protection laws, you have a right to lodge a complaint with the <a href="https://dataprotection.ie/">Data Protection Commission&nbsp;in Ireland</a> or with your local supervisory authority.</p>
    </li>
    </ul>
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-how-we-make-changes-to-this-policy" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--1538767730">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                How we make changes to this policy:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p>We may change this policy from time to time and if we do, we’ll post any changes on this page. If you continue to use StyleHint after those changes are in effect, you agree to the new policy. If the changes are significant, we may provide a more prominent notice or get your consent, as required by law.</p>
    
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
        <a id="section-contact-us" class="pin-policy-section-anchor-link u-anim-anchor-scroll" tabindex="-1" aria-hidden="true"></a>
    <section class="u-anim-fade-in" data-anim-trigger="view">
    
          
    <div class="headline u-full-width" data-mobile-layout="false" id="headline--551992817">
      
    <div class="headline__inner l-smart-grid" data-row-items-large="2">
    <header class="headline__header">
                  <div class="headline__title">
                Contact us:
    
        </div>
          
              
            
          <div class="headline__secondary-content">
        <div class="text-tile">
    
              
              
              
              
    </div>
      </div>
        </header>
    
    <div class="headline__content">
    
                    
                <ul class="subhead-list">
          <li class="subhead-list__item">
    
    
    <div class="text-tile">
    
              
              
                  <div class="text-tile__summary">
                <p>The best way to get in touch is through the email&nbsp;<a href="mailto:support@thestylehint.com"></a>. If you live in the United States, StyleHint, Inc. is responsible for your information. You can contact StyleHint Inc. at 5465 Vantage Point Rd, Columbia, MD 21044, USA.</p>
    <p>Effective Date&nbsp;September 12, 2019<br>
    Last updated September 12, 2019</p>
    
    
        </div>
          
              
    </div>
    
    </li>
      </ul>
    
      
    </div>
    </div>
    
    </div>
    </section>
    
    
    </article>
    
    </div>
    
    
    
    
          <aside class="site__alerts" role="alert">
          <div>
    
    <aside class="alerts u-bg--cork--light alerts--disabled alerts--eu-cookie-bar" data-alert-display-height="0" style="bottom: -108px; display: block; visibility: visible;">
    <div class="alerts__inner">
        <ul class="alerts__items">
      <li class="alerts__item">
              <div class="l-grid--3-1 eu-cookie-bar" data-row-items-large="2" data-alert-tracker-id="eu-cookie-bar">
        <div class="eu-cookie-bar__text"><strong>StyleHint is using cookies to help give you the best experience we can.</strong></div>
        <div class="eu-cookie-bar__confirmation"><a class="button js-alerts__close-button eu-cookie-bar__button">Got it!</a></div>
      </div>
          </li>
    </ul>
    </div>
    </aside>
    
    </div>
    
      </aside>
      </main>
</ion-content>
