<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="navigateBack()">
                <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title>Update password</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate" color="medium"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <form #f="ngForm">
        <ion-input (keyup)="removeErrors()" name="oldPassword" [(ngModel)]="user.oldPassword" type="password" placeholder="Enter current password" required></ion-input>
        <small *ngIf="error.oldPassword">{{error.oldPassword}}</small>
        <ion-input (keyup)="removeErrors()" name="newPassword" [(ngModel)]="user.newPassword" type="password" placeholder="Enter new password" required></ion-input>
        <small *ngIf="error.newPassword">{{error.newPassword}}</small>
        <ion-button style="margin-top: 50px;" color="warning" shape="round" (click)="updatePassword()" expand="block" size="large" [disabled]="!f.valid">
            Update password
        </ion-button>
    </form>
</ion-content>
