<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button>
              <ion-avatar >
                  <img style="height: 30px !important; max-height: 30px !important; width: 30px !important; max-width: 30px !important; border-radius: 100% !important; object-fit: cover !important" [src]="titleService.appPages[0].value">
                </ion-avatar>
          </ion-menu-button>
      </ion-buttons>
    <ion-title>Legal information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <span class="slide-logo">
      <ion-img class="animated fadeInLeft" src="../../assets/towel.png"></ion-img>
      <h1 class="animated bounce">StyleHints</h1>
  </span>
  <ion-card>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/privacy-policy']"  href="#" class="ion-padding-bottom ion-padding-top">
        <ion-label>Privacy policy</ion-label>
      </ion-item>

      <ion-item href="#" [routerDirection]="'forward'" [routerLink]="['/cookie-policy']">
        <ion-label>Cookie policy</ion-label>
      </ion-item>
    
      <ion-item href="#" [routerDirection]="'forward'" [routerLink]="['/terms-use']" class="ion-padding-top">
        <ion-label>Terms of use</ion-label>
      </ion-item>
    </ion-card>
</ion-content>
