ion-card {
  display: inline-grid;
  width: 32vw;
  margin: 2px !important;
  max-width: 32vw;
  height: 102px;
  max-height: 102px;
  cursor: pointer;
}
//divs containing cards
.selection-panes {
  margin-top: 20px !important;
}

ion-card .chose {
  background-color: black;
  color: white;
}

.weather-icon {
  display: inline-flex;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 10px;
  height: 130px;
  max-height: 150px;
  background-color: lightblue;
}

.hide-card {
  display: none;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}