<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
          <ion-icon color="dark" style="height: 41px; width: 32px;" name="contact"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="clearNotifications()" >
            <ion-icon color="dark"  name="notifications"></ion-icon>
            <ion-badge *ngIf="notificationService.numberOfNotifications > 0">{{notificationService.numberOfNotifications}}</ion-badge>
        </ion-button>
    </ion-buttons>
    <ion-title>
      StyleHint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- weather showcase -->
    <div class="card" *ngIf="location.city">
      <div class="card-container">
        <div class="ion-float-left">
            <h6>{{location.city}}, {{location.state}}</h6>
            <small>{{location.country}}</small>
            <p>{{date | date:'EEEE, MMMM d'}}</p> 
        </div>
        <p>{{weather.temp}}&#8451;</p>
        <div class="weather-icon">
            <img src="{{weather.icon}}" alt="weather-image">
            <p>{{weather.main}}</p>
        </div>
      </div>
    </div>

    <h6 *ngIf="!location.city" class="animated infinite pulse">Getting your location...</h6>

  <!-- Season cards -->
  <h5>Season</h5>
  <small padding>It's currently <b>{{season | titlecase}}</b> in your area, you can choose the season which best suits you.</small>
  <div class="selection-panes">
    <ion-card *ngFor="let season of seasons">
        <ion-card-content [class.chose]="season.isChosen" (click)="chooseSeason(season.name)">
            <ion-icon [name]="season.icon"></ion-icon>
            <p>{{season.name | titlecase}}</p>
        </ion-card-content>
    </ion-card>
  </div>
  <!-- Weather cards -->
  <h5>Weather</h5>
  <small padding><small *ngIf="weather.main == 'Clear'"> It's currently </small> Your area is currently covered with <b>{{weather.main | titlecase}}</b>, you can choose the weather condition which best suits you.</small>
  <div class="selection-panes">
    <ion-card *ngFor="let weather of weathers">
      <ion-card-content [class.chose]="weather.isChosen" (click)="chooseWeather(weather.name)">
          <ion-icon [name]="weather.icon"></ion-icon>
          <p>{{weather.name | titlecase}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  
  <!-- Occasion cards -->
  <h5>Occasion</h5>
  <small>Choose the occasion or event you're interested in.</small>
  <div class="selection-panes" [class.overlay]="itemSelected">
    <ion-card *ngFor="let occasion of occasions">
        <ion-card-content [class.chose]="occasion.isChosen" (click)="chooseOccasion(occasion.icon)">
            <ion-icon [name]="occasion.icon"></ion-icon>
            <p>{{occasion.name | titlecase}}</p>
            <p *ngIf="occasion.extension">({{occasion?.extension | titlecase}})</p>
        </ion-card-content>
    </ion-card>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ios fab-horizontal-end fab-vertical-bottom hydrated">
      <ion-fab-button color="warning" class=" ios ion-activatable ion-focusable hydrated">
        <ion-icon name="arrow-dropleft" role="img" class="ios hydrated" aria-label="arrow dropleft"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start" class="ios fab-list-side-start hydrated">
        <ion-fab-button (click)="toCloset()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="shirt" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">closet</p>
        </ion-fab-button>
        <ion-fab-button (click)="toTips()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="open" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Tips</p>
        </ion-fab-button>
        <ion-fab-button (click)="toFriends()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <ion-icon style="position: absolute; top: 0" name="people" role="img" class="ios hydrated"></ion-icon>
          <p style="margin-bottom: inherit">Friends</p>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>