ion-card {
  display: inline-grid;
  width: 32vw;
  margin: 2px !important;
  max-width: 32vw;
  height: 102px;
  max-height: 102px;
  cursor: pointer;
}
//divs containing cards
.selection-panes {
  margin-top: 20px !important;
}

ion-card .chose {
  background-color: black;
  color: white;
}

.weather-icon {
  display: inline-flex;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 10px;
  height: 130px;
  max-height: 150px;
  background-color: lightblue;
}

.hide-card {
  display: none;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

.overlay {
  background-color: lightslategrey;
  pointer-events: none;

}

ion-badge {
  position: relative;
  right: 10px;
  bottom: 8px;
  font-size: x-small;
}

img {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

/* Modal Content */
.modal-content {
  display: grid;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-c {
  background-color: #fefefe;
  margin: 20px auto;
  height: 89%;
  max-width: 100%;
  max-height: 85%;
  overflow: hidden;
  border-radius: 10px;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
  }
  
  @keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}