<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
            <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="notifications?.length == 0" style="padding-top: 50px">You do not have any notifications</p>
  <ion-list lines="none">
    <ion-item *ngFor="let notify of notifications">
      <!-- for tip -->
      <div *ngIf="notify.typeOf == 'tip'">
        <ion-text color="tertiary">
            <h4>{{notify.typeOf | titlecase}}</h4>
          </ion-text>
          <div margin>
            <p (click)="toTip(notify.route)"><b>@{{notify.fromUsername}} </b>{{notify.message}}.</p>
            <small>{{GetPostTime(notify.createdAt)}}</small>
          </div>
      </div>

      <!-- for comment -->
      <div *ngIf="notify.typeOf == 'comment'">
        <ion-text color="success">
            <h4>{{notify.typeOf | titlecase}}</h4>
          </ion-text>
          <div margin>
            <p (click)="toTip(notify.route)"><b>@{{notify.fromUsername}} </b>{{notify.message}}.</p>
            <small>{{GetPostTime(notify.createdAt)}}</small>
          </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more notifications...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
