<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
            <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Notifications...">
    </ion-refresher-content>
  </ion-refresher>
  <p *ngIf="notifications?.length == 0" style="padding-top: 50px">You do not have any notifications</p>
  <ion-list lines="none">
    <ion-item *ngFor="let notify of notifications">
      <!-- for tip -->
      <div *ngIf="notify.typeOf == 'tip'">
        <ion-text color="tertiary">
            <h4>{{notify.typeOf | titlecase}}</h4>
          </ion-text>
          <div margin>
            <p style="margin: 0" (click)="toTip(notify.route, false)"><b>@{{notify.fromUsername}} </b>{{notify.message}}.</p>
            <small>{{GetPostTime(notify.createdAt)}}</small>
          </div>
      </div>

      <!-- friend request -->
      <div *ngIf="notify.typeOf == 'friend'">
          <ion-text color="warning">
              <h4>{{notify.typeOf | titlecase}}</h4>
            </ion-text>
            <div margin>
              <p style="margin: 0"><b>@{{notify.fromUsername}} </b>{{notify.message}}.</p>
              <div>
                <ion-button (click)="acceptRequest(notify._id, notify.from)" color="primary">Accept request</ion-button>
                <ion-button (click)="denyRequest(notify._id)" color="danger">Deny request</ion-button>
              </div>
              <small>{{GetPostTime(notify.createdAt)}}</small>
            </div>
        </div>

        <!-- accept request -->
      <div *ngIf="notify.typeOf == 'accept'">
          <ion-text color="warning">
              <h4>Friend</h4>
            </ion-text>
            <div margin>
              <p style="margin: 0" (click)="toFriends()"><b>@{{notify.fromUsername}} </b>{{notify.message}}.</p>
              <small>{{GetPostTime(notify.createdAt)}}</small>
            </div>
        </div>

      <!-- for comment -->
      <div *ngIf="notify.typeOf == 'comment'">
        <ion-text color="success">
            <h4>{{notify.typeOf | titlecase}}</h4>
          </ion-text>
          <div margin>
            <p style="margin: 0" (click)="toTip(notify.route, true)"><b>@{{notify.fromUsername}} </b>{{notify.message}}.</p>
            <small>{{GetPostTime(notify.createdAt)}}</small>
          </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more notifications...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ios fab-horizontal-end fab-vertical-bottom hydrated">
    <ion-fab-button color="warning" class=" ios ion-activatable ion-focusable hydrated">
      <ion-icon name="arrow-dropleft" role="img" class="ios hydrated" aria-label="arrow dropleft"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start" class="ios fab-list-side-start hydrated">
      <ion-fab-button (click)="toCloset()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <ion-icon style="position: absolute; top: 0" name="shirt" role="img" class="ios hydrated"></ion-icon>
        <p style="margin-bottom: inherit">closet</p>
      </ion-fab-button>
      <ion-fab-button (click)="toTips()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <ion-icon style="position: absolute; top: 0" name="open" role="img" class="ios hydrated"></ion-icon>
        <p style="margin-bottom: inherit">Tips</p>
      </ion-fab-button>
      <ion-fab-button (click)="toFriends()" style="width: 89px" color="dark" class="ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <ion-icon style="position: absolute; top: 0" name="people" role="img" class="ios hydrated"></ion-icon>
        <p style="margin-bottom: inherit">Friends</p>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
