<ion-content scrollY="{{!freezePane}}">
  <div class="main-img">
      <!-- back button -->
      <ion-buttons slot="start">
          <ion-button (click)="navigateBack()">
              <ion-icon color="primary" name="arrow-back" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="tipService.isMyTip" style="right: 0">
          <ion-button (click)="confirmDelete(tip.notifyId)">
              <ion-icon  color="danger" name="trash" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="!tipService.isMyTip" style="right: 0">
          <ion-button (click)="presentActionSheet(tip.notifyId)">
              <ion-icon  color="danger" name="trash" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="tipService.isMyTip" style="right: 0; top: 75px">
          <ion-button (click)="sharedWith()">
              <ion-icon  color="dark" name="people" class="ion-margin-start"></ion-icon>
          </ion-button>
      </ion-buttons>
      <!-- image -->
      <ion-img [src]="tip?.imageUrl"></ion-img>
      <ion-button (click)="viewHint(tip?.hintId)" color="warning" expand="full" fill="outline">view complete hint</ion-button>
  </div>
  <div class="tip-container" padding>
    <p class="ion-float-left"><b>@{{tip?.ownerUsername}}</b> {{tip?.message}}</p>
    <ion-note style="float: right;padding-top: 17px;" slot="end">
        {{GetPostTime(tip?.createdAt)}}
    </ion-note>
    <div *ngIf="toComment" class="comment">
        <ion-button color="dark" (click)="addComment(tip._id)" [disabled]="comment === ''" class="post">Send</ion-button>
        <ion-button color="danger" (click)="cancel()" class="cancel">Cancel</ion-button>
        <textarea [(ngModel)]="comment" name="comment" rows="5"></textarea>
    </div>
    <ion-item (click)="abtToComment()">
        <ion-avatar style="font-size: x-large">
            <ion-icon name="contact"></ion-icon>
        </ion-avatar>
        <ion-label>
            <ion-text color="medium">
              <small style="position: absolute;top: 11px;padding: 0;margin: 0;left: 25px;">Add a comment...</small>
            </ion-text> 
        </ion-label>
    </ion-item>
    <ion-text style="float: left" *ngIf="comments?.length !== 0" color="medium">
      <small [routerDirection]="'forward'" [routerLink]="['/comments']">{{comments?.length}} Comment(s)</small>
    </ion-text>
  </div>
  <!-- comments -->
  <div class="comments">
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let comment of comments">
        <ion-item>
            <ion-label>
                <small [ngStyle]="{'color': comment.commenterId === authService.userId ? 'green' : 'black'}" class="ion-float-left" [routerDirection]="'forward'" [routerLink]="['/comments']"><b>@{{comment?.commenter}}</b> {{comment?.comment}}</small> 
            </ion-label>
          <ion-note slot="end">
              {{GetPostTime(comment.commentedAt)}}
          </ion-note>
        </ion-item>
    
        <ion-item-options (click)="deleteComment(tip._id, comment._id)" *ngIf="comment.commenterId === authService.userId" side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!-- Modal content -->
  <div *ngIf="modal" class="modal-content " padding>
    <ion-list lines="none">
        <div>
            <p style="float: left;margin: 4px;" (click)="sharedWith()">cancel</p>
            <h3>Shared with</h3>
        </div>
        <ion-item *ngFor="let friend of tip.usersToSee">
            <ion-avatar style="font-size: xx-large;padding-top: 3px;">
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>@{{friend.username}}</h2> 
            </ion-label>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
