<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="navigateBack()">
            <ion-icon color="dark"  name="arrow-back" class="ion-margin-start"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Comments...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none" style="margin-bottom: 170px">
      <p *ngIf="tip.message" class="ion-float-left"><b>@{{tip?.ownerUsername}}</b> {{tip?.message}}</p>
      <small *ngIf="tip.message" style="border-bottom: 1px solid #ccc; width: 100%; padding-bottom: 20px;" class="ion-float-right">{{GetPostTime(tip?.createdAt)}}</small>
    <ion-item-sliding *ngFor="let comment of comments">
      <ion-item>
          <p [ngStyle]="{'color': comment.commenterId === authService.userId ? 'green' : 'black'}"><b>@{{comment?.commenter}}</b> {{comment?.comment}}</p>
      </ion-item>
      <small style="border-bottom: 1px solid #ccc;" class="ion-float-right">{{GetPostTime(comment.commentedAt)}}</small>
  
      <ion-item-options (click)="deleteComment(comment._id)" *ngIf="comment.commenterId === authService.userId" side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<!-- //add comment -->
<div class="modal-content">
    <h6>Add a comment</h6>
    <textarea [(ngModel)]="comment" name="comment" rows="5" cols="2"></textarea>
    <ion-button color="dark" (click)="addComment(tip._id)" [disabled]="comment === ''" class="post">Send</ion-button>          
</div>
