<ion-content>
    <ion-slides pager="true">
      <span class="slide-logo">
          <ion-img src="../../assets/towel.svg"></ion-img>
          <h2>StyleHint</h2>
      </span>
        <ion-slide class="step-one">
          <!-- slide content -->
          <div class="slide-content">
              <h5>Welcome</h5>
              <p>Sign up to get free fashion tips whenever and wherever</p>
              <ion-button class="ion-text-uppercase" color="primary" shape="round" expand="block" size="small">
                Create Account
              </ion-button>
              <small>Already have an account?</small>
              <ion-button style="margin-bottom: 30px" class="ion-text-uppercase" color="light" shape="round" expand="block" size="default">
                  Log In
                </ion-button>
          </div>
        </ion-slide>
    
        <ion-slide class="step-two">
        </ion-slide>
    
        <ion-slide class="step-three">
        </ion-slide>
    </ion-slides>
</ion-content>
