ion-slide {
    height: 100vh;
    flex-direction: column;
    color: white;
}

.slide-logo {
    margin-top: 100px;
    display: inherit;
}

.slide-content {
    margin-top: auto;
}

p {
    font-weight: inherit !important;
}

h2 {
    padding-bottom: 18px !important;
}

h5 {
    font-weight: 900 !important;
}

ion-img {
    max-width: 50vw;
    width: 70px !important;
}

ion-button {
    letter-spacing: 2px;
    margin-left: 22px;
    margin-right: 22px;
    z-index: 2;
}

.slide-buttons {
    margin-bottom: 70px;
    margin-top: 100px;
}

// slides styles
.step-one {
    background: url("../../assets/jonathan-borba-1562173-unsplash.jpg") 0/100% 100% no-repeat;
    background-size: cover;
    z-index: -100;
}

.step-two {
    background: url("../../assets/drew-roberts-298300-unsplash.jpg") 0/100% 100% no-repeat;
    background-size: cover;
    z-index: -100;
}

.step-three {
    background: url("../../assets/vanessa-serpas-562504-unsplash.jpg") 0/100% 100% no-repeat;
    background-size: cover;
    z-index: -100;
}
